/* PoolDetails.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .pool-details-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .pool-details-content {
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 800px;
    width: 90%;
  }
  
  .pool-details-content h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .pool-details-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
  }
  
  .pool-details-content ul li {
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  .pool-details-content p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .pool-details-close-button {
    margin-top: 30px;
    padding: 15px 30px;
    background-color: #1E90FF;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px;
  }
  
  .pool-details-close-button:hover {
    background-color: #007BFF;
  }
  

.prizes-and-timer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .timer p {
    margin: 0;
    font-size: 18px;
  }
  
  .prize p {
    margin: 0;
    font-size: 18px;
  }
  
  .user-list {
    margin-top: 20px;
  }
  
  .user-list h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .user-list table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .user-list th,
  .user-list td {
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
    text-align: left;
  }

  